{% extends 'padre.html' %}

{% load static %}


{% block contenido %}

<main class="container">
    <h1 class="text-xl-center title"> Profesores </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
            {% for n in profesores %}
            <tr>
                <th scope="row">{{n.id}}</th>
                <th>{{n.nombre}}</th>
                <th>{{n.apellido}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}
